Piotr Majdak <piotr@majdak.com>
Piotr Majdak <majdak@.kfs.oeaw.ac.at>
Robert Baumgartner <baumsource@gmail.com>
Hagen Wierstorf <hagen.wierstorf@tu-berlin.de>
Hagen Wierstorf <hagen.wierstorf@telekom.de>
Hagen Wierstorf <hagen@kkdu.org>
Thibaud Neciarri <thibaud@kfs.oeaw.ac.at>
Alessandro Altoe <altoea1@t40527-la019.org.aalto.fi>
Alessandro Altoe <altoe.alessandro@gmail.com>
Peter Soendergaard <soender@users.sourceforge.net>
Peter Soendergaard <peter@pspc.elektro.dtu.dk>
Peter Soendergaard <peter@peter-laptop.(none)>
Peter Soendergaard <peter@katholt.(none)>
Peter Soendergaard <peter@localhost.localdomain>
Klemenschitz <klemenschitzch@gmx.at>
Harald Ziegelwanger <Harald@MacBook-Air-von-HZ.local>
Harald Ziegelwanger <Harald@computer-2.home>
Martin Klein-Hennig <martin.klein.hennig@uni-oldenburg.de>
Sebastian Grill <sebastian.grill@gmx.at>
Katharina Egger <egger.kathi@gmail.com>
Katharina Egger <eggerk@users.sourceforge.net>
